---
import TailwindIcon from '../icons/Tailwind.astro'
import JavascriptIcon from '../icons/Javascript.astro'
import PostgreSQLIcon from '../icons/PostgreSQL.astro'
import NextJSIcon from '../icons/NextJS.astro'
import TypescriptIcon from '../icons/Typescript.astro'
import NextUIIcon from '../icons/NextUI.astro'
import ReactIcon from '../icons/React.astro'
import AstroIcon from '../icons/AstroIcon.astro'
import ShadcnuiIcon from '../icons/Shadcnui.astro'

const TAGS = {
  JAVASCRIPT: {
    name: 'Javascript',
    class: 'bg-slate-800 text-white',
    icon: JavascriptIcon
  },
  TYPESCRIPT: {
    name: 'Typescript',
    class: 'bg-slate-800 text-white',
    icon: TypescriptIcon
  },
  ASTRO: {
    name: 'Astro',
    class: 'bg-slate-800 text-white',
    icon: AstroIcon
  },
  REACT: {
    name: 'React',
    class: 'bg-slate-800 text-white',
    icon: ReactIcon
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-slate-800 text-white',
    icon: TailwindIcon
  },
  NEXTJS: {
    name: 'Next.js',
    class: 'bg-slate-800 text-white',
    icon: NextJSIcon
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    class: 'bg-slate-800 text-white',
    icon: PostgreSQLIcon
  },
  SHADCNUI: {
    name: 'Shadcn/ui',
    class: 'bg-slate-800 text-white',
    icon: ShadcnuiIcon
  },
  NEXTUI: {
    name: 'NextUI',
    class: 'bg-slate-800 text-white',
    icon: NextUIIcon
  }
}

const PROJECTS = [
  {
    title: 'SOSdev',
    description:
      'Una biblioteca de recursos para desarrolladores, construida desde cero con Next.js, TypeScript, Tailwind CSS, PostgreSQL y NextUI. Ofrece una colección actualizada de herramientas y referencias esenciales para potenciar tu desarrollo.',
    link: 'https://sosdev.vercel.app/',
    github: 'https://github.com/LuaGR/SOSdev',
    image: '/projects/sosdev.webp',
    tags: [
      TAGS.NEXTJS,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.POSTGRESQL,
      TAGS.NEXTUI
    ]
  },
  {
    title: 'Tsuki Store',
    description:
      'Proyecto e-commerce de moda urbana con influencia anime, desarrollado desde cero con Astro, TypeScript, Tailwind CSS, React y Shadcn/ui. Ofrece una experiencia única y estilizada para los entusiastas de la cultura pop.',
    link: 'https://tsuki-store.vercel.app/',
    github: 'https://github.com/LuaAguirre/tsuki-store',
    image: '/projects/tsuki.webp',
    tags: [
      TAGS.ASTRO,
      TAGS.REACT,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.SHADCNUI
    ]
  }
]
---

{
  PROJECTS.map(({ title, description, link, image, tags }) => (
    <article class='mb-8'>
      <h3 class='text-2xl font-semibold text-yellow-200 mb-4'>{title}</h3>
      <p class='text-md mb-8 text-pretty text-white/80'>{description}</p>
      <ul class='flex flex-wrap gap-x-2 '>
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 mb-4`}>
              <tag.icon class='size-4' />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <a
        href={link}
        target='_blank'
        rel='noopener noreferrer'>
        <img
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
          class='rounded shadow-2xl shadow-white/10'
        />
      </a>
    </article>
  ))
}
